<ul class="nav  nav-pills nav-stacked">
	<%safe {%>
	<% model.blogposts.all.each do |post|%>
	<li class="clear">
		<a href="#"><%=post.title%></a> 
		<span class="quote"><%=post.teaser%></span>
		<span class="author"><%=model.authors.by_ref(post.author_ref).name%></span>
	</li>
	<% end %>
	<%}%>
</ul>