<div class="navbar-content">
  <ul class="nav ">
	<% safe {%>
	<% model.pages.all.each do |page| %>
    <li class="active">
      <a href="/<%=page.alias%>"><%=page.name %></a> 
    </li>
	<% end %>
	<%}%>
  </ul>
</div>