<div class="navbar-content">
  <ul class="nav ">
	<% pages = model.pages.all.sort! { |a,b| a.tags <=> b.tags } %>
	<% pages.each do |page| %>
    <li class="active">
      <a href="/<%=page.alias%>"><%=page.name %></a> 
    </li>
	<% end %>
  </ul>
</div>