<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
	<html lang="en" class="no-js">
<!--<![endif]-->	
	<head>
		<meta charset="utf-8" />
		<title>KodaCMS Console</title>
		<meta name="description" content="KodaCMS | Explorer for your instance" />
		<link rel="stylesheet" href="/koda/css/jam.css?231" />
		<link rel="stylesheet" href="/koda/css/skins/default.css" />
	</head>

	<body>
		
		<header role="banner">
			
			<hgroup>
				
				<h1><span>cms</span><abbr title="Koda">Koda</abbr></h1>
				<h2>A <abbr title="Representational State Transfer">Explorer</abbr> to manage your KodaCMS content</h2>
				
			</hgroup>
			
		</header>
		
		<div role="main">
			
			<section class='sign-in'>
			  <iframe src="http://kodacms.rpxnow.com/openid/embed?token_url=http://<%=sign_in_return_url%>/signed-in&default_provider=google" scrolling ="no" frameBorder="no" allowtransparency="true" style="width:400px;height:240px"></iframe>
			</section>
			
		</div>
	</body>
</html>
