
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KodaCMS - Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
	<link rel="stylesheet" href="/koda/css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/koda/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/koda/scripts/plugins/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/koda/scripts/plugins/jquery.contextmenu/jquery.contextMenu.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
	<script>
		Window.Application = "Explorer";
	</script>
	<link rel="stylesheet" href="/koda/css/bootstrap-responsive.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/koda/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/koda/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/koda/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/koda/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/koda/apple-touch-icon-57x57-precomposed.png">
	<script src="http://www.boxjs.com/box.js"></script>
	<script src="/koda/scripts/plugins/jquery.js"></script>
	<script src="/koda/scripts/plugins/fancybox/jquery.easing-1.3.pack.js"></script>
	<script src="/koda/scripts/plugins/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">KodaCMS Explorer</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link"><%=current_user.name%></a>, <a href="/sign-out">Log out</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Content</a></li>
			  <li><a href="#help">Help</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
			<div id="status-text">
			</div>
            <section id="explorer">
				<div id="explorer-panel">
				</div>
			</section>
          </div>
      <hr>

      <footer>
        <p>&copy; KodaCMS 2012</p>
      </footer>

		<a id="media-trigger" href="" class="iframe"></a>
		<ul id="Actions" class="contextMenu">  
			<li class="edit">
		        <a href="#edit">Edit</a>
		    </li>
		    <li class="delete">
		        <a href="#delete">Delete</a>
		    </li>
		</ul>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/koda/scripts/plugins/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script>
		<% if(settings.environment != :development) %>
		Box("http://www.kodacms.org/koda/scripts/", [
		<% else %>
		Box("/koda/scripts/", [
		<% end %>
			"plugins/json2.js",
			"plugins/jquery-class.js",
			"plugins/fancybox/jquery.fancybox-1.3.4.js?23423",
			"plugins/jquery.contextmenu/jquery.contextMenu.js",
			"plugins/modernizr.js",
			"Koda.js?<%=Time.now.to_i if settings.environment == :development%>"
		], {dev:<%=settings.environment == :development %>, version:'1.<%=Time.now.to_i%>'});
	</script>
  </body>
</html>
