// Global navigation
// -------------------------
.global-nav {

    a {
        font-size: @baseFontSize + 1;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        border-top: 1px solid #d9d9d9;
        display: block;
        padding: 8px 13px;

        &:visited {
            color: @linkColor;
        }

        &:hover {
            background-color: #e4e4e4;
        }

        &:active {
            background-color: darken(#e4e4e4, 1%);
        }

        &.current {
            text-decoration: underline;
        }
    }
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {

    .global-nav {
        border-top: 1px solid #d9d9d9;
        text-align: center;

        li {
            display: inline-block;
        }

        a {
            border-top: 0;
        }
    }
}

// 40em devices and up
// -------------------------
@media only screen and (min-width: 40em) {

    .global-nav {
        border-top: 0;
        float: right;
        margin-top: 3px;

        a {

            &:hover {
                .border-radius(@baseBorderRadius);
                .box-shadow(0 -1px 0 0 #c8c8c8);
                background-color: #ebebeb;
            }

            &:active {
                .box-shadow(0 -1px 0 0 lighten(@brandColor, 20%));
            }
        }
    }
}
