// Featured content slider
// -------------------------
.slider {
    position: relative;
    background-color: #fff;
    padding: 15px 0 10px;

    .slides {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .slide {
        display: none; // Hide slides before JS is loaded to prevent jump
        font-size: @baseFontSize + 1;

        p {
            line-height: @baseLineHeight + 0.25;
            margin: 0 40px 10px;
        }
    }

    .slide-title {
        color: @brandColor;
        font-size: @baseFontSize + 20;
        font-weight: normal;
        margin: 0 40px;
    }

    .learn-more {

        a {
            color: @brandColor;
            font-weight: bold;

            &:after {
                content: "\00a0\003e"; // " >"
            }
        }
    }

    // Pagination
    // TODO: Style
    .flex-control-nav {
        .visuallyhidden;
    }

    // Arrows
    .flex-direction-nav {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            position: absolute;
            top: 39%;

            &:first-child {
                left: 0;
            }

            &:last-child {
                right: 0;
            }
        }

        a {
            .ir;
            display: block;
            width: 32px;
            height: 62px;
            background-image: url("@{imgPath}slider-arrows.png");
        }

        // Next
        .flex-next {
            background-position: 32px 0;

            &:hover {
                background-position: 32px -62px;
            }
        }

        // Previous
        .flex-prev {
            background-position: 0 0;

            &:hover {
                background-position: 0 -62px;
            }
        }
    }
}

// 30em devices and up
// -------------------------
@media only screen and (min-width: 30em) {

    // Featured content slider
    // -------------------------
    .slider {
        padding: 25px 0 20px;

        .slide {

            p {
                margin: 0 50px 10px;
            }
        }

        .slide-title {
            font-size: @baseFontSize + 30;
            margin: 0 50px 10px;
        }
    }
}

// 40em devices and up
// -------------------------
@media only screen and (min-width: 40em) {

    // Featured content slider
    // -------------------------
    .slider {

        .slide {

            p {
                margin: 0 70px 10px;
            }
        }

        .slide-title {
            font-size: @baseFontSize + 39;
            margin: 0 70px 5px;
        }

        // Arrows
        .flex-direction-nav {

            li {

                &:first-child {
                    left: 2%;

                    &:active {
                        left: 1.9%;
                    }
                }

                &:last-child {
                    right: 2%;

                    &:active {
                        right: 1.9%;
                    }
                }
            }
        }
    }
}

// @desktopWidth devices and up
// -------------------------
@media only screen and (min-width: @desktopWidth) {

    // Featured content slider
    // -------------------------
    .slider {

        .slide {

            // Create fixed width slide in centre
            div {
                width: @desktopWidth;
                margin: auto;
            }

            p {
                margin: 0 50px 10px;
            }
        }

        .slide-title {
            margin: 0 50px 5px;
        }

        // Arrows
        .flex-direction-nav {

            li {

                &:first-child {
                    left: 1%;

                    &:active {
                        left: .9%;
                    }
                }

                &:last-child {
                    right: 1%;

                    &:active {
                        right: .9%;
                    }
                }
            }
        }

        // "A fresh new start" slide
        // -------------------------
        .new-start {

            div {
                background: #fff url("@{imgPath}temp/kiwi-orange.jpg") no-repeat bottom right;
            }

            p {
                width: 60%;
            }
        }
    }
}

// @desktopWidthWide and up
// -------------------------
@media only screen and (min-width: @desktopWidthWide) {

    // Featured content slider
    // -------------------------
    .slider {

        // Gradient panels
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 10%;
            height: 300px;
            top: -20px;
            z-index: 1;
            #gradient > .horizontal(rgba(50,50,50,0.15), transparent);
        }

        &:before {
            left: 0;
        }

        &:after {
            .rotate(180deg);
            right: 0;
        }

        // Arrows
        .flex-direction-nav {

            li {

                &:first-child {
                    left: 10%;

                    &:active {
                        left: 9.9%;
                    }
                }

                &:last-child {
                    right: 10%;

                    &:active {
                        right: 9.9%;
                    }
                }
            }
        }
    }
}
