/* CONSOLE */
/* Console - Common ------------------------------ */

@font-face {
    font-family: 'LadyIceRegular';
    src: url('../fonts/ladyic__-webfont.eot');
    src: url('../fonts/ladyic__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ladyic__-webfont.woff') format('woff'),
         url('../fonts/ladyic__-webfont.ttf') format('truetype'),
         url('../fonts/ladyic__-webfont.svg#LadyIceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#help {
	margin: 17px 0 0 20px;
	float: left;
	width: 158px;
	position: relative;
	z-index: 1;
}

#help h1 {
	font: 20px LadyIceRegular, sans-serif;
	margin: 0 0 5px 10px;
}

#help dl {
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    right top,
	    color-stop(0.03, rgb(241,241,241)),
	    color-stop(0.75, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
	    left center,
	    rgb(241,241,241) 3%,
	    rgb(255,255,255) 75%
	);
	font-size: 12px;
}

#help dt {
	font-weight: bold;
}

#help dd {
	margin-bottom: 15px;
}

#console select, 
#console input, 
#console textarea { 
  color: #444; 
  font-family: Helvetica, Arial, sans-serif;   
}

#console {
	float: left;
	width: 700px;
	position: relative;
	z-index: 2;
}

#console > div {
	padding: 10px 8px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 360px;
	overflow: auto;
	border-style: solid;
	border-width: 1px;
	-webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, .6);
	-moz-box-shadow: 2px 2px 12px rgba(0, 0, 0, .6);
	box-shadow: 2px 2px 12px rgba(0, 0, 0, .6);
}

#console > div { font-family: Monaco, monospace; }

#console header {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
	padding: 4px 0;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	border-color: #bbb;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.03, rgb(168,168,168)),
	    color-stop(0.75, rgb(205,205,205))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(168,168,168) 3%,
	    rgb(205,205,205) 75%
	);
}

#console header h1 { color: #000; font-weight: bold; }

#console p { line-height: 1.6; }
#console .line textarea { 
	border: none; 
	font-family: Monaco, monospace; 
	width: 60%;
	margin-top: -2px;
}

#console .prompt {
	vertical-align: top;
}

#console .line { 
	margin: 10px 0 0; 
	padding: 2px;
}

#console .line textarea,
#console .line {
	padding: 2px 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#console pre { margin: 5px 0 10px; }
#console .line textarea:focus { outline-width: 0; }

/* 'Default' Skin */
#console > div,
#console textarea,
#console pre { 
	background: #000;
	color: #55D839;
}

#console h4 {
	line-height: 0px !important;
}

#console > div {
	border-color: #222;
}

#console,
#console pre {
	font-size: 12px;
}

#console .inactive textarea {
	height: 16px;
}

#console .inactive textarea.multi {
	display : none;
}

#console .active,
#console .active textarea { 
	background: #222; 
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    right bottom,
	    color-stop(0.23, rgb(34,34,34)),
	    color-stop(0.97, rgb(0,0,0))
	);
	background-image: -moz-linear-gradient(
	    left center,
	    rgb(34,34,34) 23%,
	    rgb(0,0,0) 97%
	);
}

#console .active .single {
	height: 18px;
}

#console .active .multi {
	height: 900px;
	width: 80%;
	overflow:hidden;
}

/* Explorer */

.kodaType .img-icon {
	float: left;
	padding: 5px;
	max-width: 16px;
}

.explorer-items {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.explorer-items li {
	margin: 0px;
}

#back-button:hover,
.explorer-items li:hover {
	background-color: #BFD3FF;
	cursor: pointer;
}

#explorer li > img {
	width: 24px;
	height: 24px;
	position: relative;
	left: 12px;
	top: 5px;
}

#explorer a.collection {
	background-image: url(/koda/images/box_file.png);
	background-repeat: no-repeat;
	background-position-x: 1px;
	padding: 9px;
	padding-left: 57px;
	margin-left: 20px;
}

#explorer a.file {
	padding-left: 40px;
	margin-left: -6px;
	vertical-align: bottom;
}

#back-button {
	background-color: #FAF3DE;
}

a.new {
	cursor : pointer;
}